.custom-jumbotron{
    background-image: linear-gradient(to right, rgb(84, 130, 239), rgb(25, 12, 74));
    font-family:Arial, Helvetica, sans-serif;
    color:aliceblue;
    padding: 5px;
    text-align: center;
    margin-bottom: px;
}

h3{
    font-family:Arial, Helvetica, sans-serif;
}

.custom-btn{

}
